#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.header {
    display: inline-block;
    vertical-align: top;

}

.article-list {
    padding: 0.2em;
}

ul {
    list-style: none;
}
